.env
venv
__pycache__
*.pyc

# Local Data (Root only)
/raw_transcripts
/clean_transcripts
/jd_outputs
/recordings
/findings

# Ignore specific search_queries DATA folder if it exists at root
/search_queries

# Node modules
node_modules/