\documentclass[10pt,a4paper]{article}

\usepackage[margin=0.7in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{titlesec}
\usepackage{tcolorbox}
\tcbuselibrary{breakable}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{80,80,80}

\tcbset{colframe=primary,arc=4pt,boxrule=0.8pt,left=6pt,right=6pt,top=6pt,bottom=6pt,breakable}
\titleformat{\section}{\large\bfseries\color{primary}}{}{0em}{}
\setlist[itemize]{noitemsep, topsep=1pt, leftmargin=1.2em}
\setlength{\parindent}{0pt}

\begin{document}

\begin{center}
\includegraphics[width=4cm]{image.jpg}
\vspace{2pt}

{\Huge\bfseries\color{primary} << hiring_title >>}
\end{center}

\vspace{2pt}

<% if metadata %>
\begin{tcolorbox}
\centering
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> <% if not loop.last %> \quad\textbullet\quad <% endif %>
<% endfor %>
\end{tcolorbox}
<% endif %>

\vspace{2pt}

\begin{tcolorbox}[colback=white,breakable]

<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{tcolorbox}

\end{document}
