\documentclass[10pt,a4paper]{article}

\usepackage[margin=0.7in]{geometry}
\usepackage{graphicx}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{headingblue}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{80,80,80}

\setlength{\parskip}{1pt}
\setlength{\parindent}{0pt}

\titleformat{\section}{\large\bfseries\color{headingblue}}{}{0em}{}
\titlespacing*{\section}{0pt}{6pt}{3pt}
\setlist[itemize]{noitemsep,topsep=1pt,partopsep=0pt,parsep=0pt,leftmargin=1.2em}

\begin{document}

\begin{flushright}
\includegraphics[width=4.5cm]{image.jpg}
\end{flushright}

\vspace{-1.4cm}

{\color{headingblue}\Large\textbf{<< hiring_title >>}}

\vspace{4pt}

{\color{textgray}
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> \\
<% endfor %>
}

\vspace{6pt}
\hrule
\vspace{6pt}


<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{document}
