\documentclass[10pt,a4paper]{article}

\usepackage[margin=0.7in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{multicol}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{80,80,80}

\titleformat{\section}{\normalsize\bfseries\color{primary}}{}{0em}{}
\setlist[itemize]{noitemsep, topsep=1pt, leftmargin=1.2em}
\setlength{\parindent}{0pt}

\begin{document}

\begin{center}
\includegraphics[width=4cm]{image.jpg}
\vspace{6pt}

{\Large\bfseries\color{primary} << hiring_title >>}
\end{center}

\vspace{6pt}
\hrule
\vspace{6pt}

{\color{textgray}
\centering
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> <% if not loop.last %> \hfill | \hfill <% endif %>
<% endfor %>
}

\vspace{10pt}

\begin{multicols}{2}


<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{multicols}

\end{document}
