\documentclass[11pt,a4paper]{article}

\usepackage[margin=0.7in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{70,70,70}

\titleformat{\section}
{\large\bfseries}
{}{0em}{\color{primary}\rule{3pt}{14pt}\hspace{8pt}}
\titlespacing*{\section}{0pt}{10pt}{4pt}

\setlist[itemize]{noitemsep, topsep=2pt, leftmargin=1.4em}
\setlength{\parindent}{0pt}
\setlength{\parskip}{4pt}

\begin{document}

\begin{flushright}
\includegraphics[width=4cm]{image.jpg}
\end{flushright}

\vspace{-1.2cm}

{\Huge\bfseries\color{primary} << hiring_title >>}

\vspace{8pt}
\hrule
\vspace{8pt}

{\color{textgray}
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> <% if not loop.last %> \hfill <% endif %>
<% endfor %>
}

\vspace{10pt}


<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{document}
