\documentclass[11pt,a4paper]{article}

\usepackage[margin=0.5in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage{tikz}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{sidebar}{RGB}{200,220,240}
\definecolor{textgray}{RGB}{60,60,60}

\setlength{\parindent}{0pt}
\setlength{\parskip}{4pt}

\begin{document}

\begin{tikzpicture}[remember picture,overlay]
\fill[sidebar] (current page.north west) rectangle
([xshift=6.5cm]current page.south west);
\end{tikzpicture}

\begin{minipage}[t]{0.30\textwidth}
\vspace{1.2cm}
\centering
\hspace{-2cm}
\includegraphics[width=4cm]{image.jpg}

\vspace{1.5cm}

\raggedright
\textbf{\color{primary}Location}\\
<< location >>

\vspace{10pt}
\textbf{\color{primary}Job Type}\\
<< job_type >>

\vspace{10pt}
\textbf{\color{primary}Experience}\\
<< experience >>

\vspace{10pt}
\textbf{\color{primary}Mode of Work}\\
<< mode_of_work >>
\end{minipage}
\hfill
\begin{minipage}[t]{0.65\textwidth}
\vspace{1.2cm}

{\Huge\bfseries\color{primary} << hiring_title >>}

\vspace{10pt}
\hrule height 0.8pt
\vspace{12pt}

\textbf{\large Job Summary}
{\color{textgray}

<< job_summary >>
}

\vspace{10pt}

<% if responsibilities %>
\textbf{\large Key Responsibilities}
\begin{itemize}[leftmargin=1.5em]
<< responsibilities >>
\end{itemize}
<% endif %>

\vspace{10pt}

<% if qualifications %>
\textbf{\large Qualifications \& Required Skills}
\begin{itemize}[leftmargin=1.5em]
<< qualifications >>
\end{itemize}
<% endif %>

\vspace{10pt}

<% if good_to_have %>
\textbf{\large Good to Have}
\begin{itemize}[leftmargin=1.5em]
<< good_to_have >>
\end{itemize}
<% endif %>

<% if soft_skills %>
\textbf{\large Soft Skills}
\begin{itemize}[leftmargin=1.5em]
<< soft_skills >>
\end{itemize}
<% endif %>

\end{minipage}

\end{document}
