\documentclass[11pt,a4paper]{article}

\usepackage[margin=0.5in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{tikz}
\usepackage{tcolorbox}
\tcbuselibrary{breakable}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{sidebar}{RGB}{235,242,250}
\definecolor{textgray}{RGB}{60,60,60}

\titleformat{\section}{\large\bfseries\color{primary}}{}{0em}{}
\titlespacing*{\section}{0pt}{10pt}{4pt}
\setlist[itemize]{noitemsep, topsep=1pt, leftmargin=1.2em}
\setlength{\parindent}{0pt}
\setlength{\parskip}{4pt}

\begin{document}

\begin{tikzpicture}[remember picture,overlay]
\fill[sidebar] (current page.north west) rectangle
([xshift=6.5cm]current page.south west);
\end{tikzpicture}

\begin{minipage}[t]{5.5cm}
\vspace{0pt}
\centering
\includegraphics[width=4cm]{image.jpg}

\vspace{1.5cm}

\raggedright
\color{black}
<% for meta in metadata %>
\textbf{\color{primary}<< meta.label >>}\\
<< meta.value >>
\vspace{12pt}
<% endfor %>
\end{minipage}
\hfill
\begin{minipage}[t]{12.5cm}
\vspace{0pt}

{\Huge\bfseries\color{primary} << hiring_title >>}

\vspace{10pt}
\hrule height 0.8pt
\vspace{12pt}

% Main content box that can break across pages
\begin{tcolorbox}[colback=white,colframe=white,arc=0pt,boxrule=0pt,left=0pt,right=0pt,top=0pt,bottom=0pt,breakable]
<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>
\end{tcolorbox}

\end{minipage}

\end{document}
