\documentclass[11pt,a4paper]{article}

\usepackage[margin=0.6in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{tabularx}
\usepackage{array}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{70,70,70}

\titleformat{\section}{\large\bfseries\color{primary}}{}{0em}{}
\titlespacing*{\section}{0pt}{10pt}{4pt}
\setlist[itemize]{noitemsep, topsep=2pt, leftmargin=1.2em}
\setlength{\parindent}{0pt}
\setlength{\parskip}{3pt}

\begin{document}

\begin{tabularx}{\textwidth}{@{}X r@{}}
\begin{minipage}[t]{0.7\textwidth}
{\Large\bfseries\color{primary} << hiring_title >>}
\vspace{6pt}

{\color{textgray}
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> \\
<% endfor %>
}
\end{minipage}
&
\begin{minipage}[t]{0.28\textwidth}
\raggedleft
\includegraphics[width=4cm]{image.jpg}
\end{minipage}
\end{tabularx}

\vspace{6pt}
\hrule height 0.8pt
\vspace{10pt}


<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{document}
