\documentclass[11pt,a4paper]{article}

\usepackage[margin=0.6in]{geometry}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage[normalem]{ulem}
\usepackage{titlesec}
\usepackage{enumitem}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\definecolor{primary}{RGB}{0,102,153}
\definecolor{textgray}{RGB}{60,60,60}

\titleformat{\section}{\Large\bfseries\color{primary}}{}{0em}{}
\titlespacing*{\section}{0pt}{12pt}{6pt}
\setlist[itemize]{noitemsep, topsep=2pt, leftmargin=1.3em}
\setlength{\parindent}{0pt}
\setlength{\parskip}{4pt}

\begin{document}

\begin{center}
\includegraphics[width=4.5cm]{image.jpg}
\vspace{10pt}

{\Huge\bfseries\color{primary} << hiring_title >>}
\end{center}

\vspace{8pt}
\hrule height 1pt
\vspace{8pt}

{\color{textgray}
\centering
<% for meta in metadata %>
\textbf{<< meta.label >>:} << meta.value >> <% if not loop.last %> \quad\textbullet\quad <% endif %>
<% endfor %>
}

\vspace{10pt}
\hrule
\vspace{15pt}


<% for section in body_sections %>
\section*{<< section.title >>}
{\color{textgray}
  <% if section.is_list %>
    \begin{itemize}
    << section.content >>
    \end{itemize}
  <% else %>
    << section.content >>
  <% endif %>
}
<% endfor %>

\end{document}
